*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main{}

div.my_background-green{
    background-color: #009688;
    height: 200px;
}

div.my_background-grey{
    background-color: #DCDBD1;
    height: 3000px;
}


div.container{
    max-width: 1480px;
    height: 1000px;
    margin: 0 auto;
    border: 2px black solid;
    display: flex;
}

div.my_utent-elenc{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

div.my_profile{
    width: 100%;
    padding: 0.25rem;
    display: flex;
    justify-content: space-between;
    background-color: #EAEAEA;
}

div.my_notification{
    background-color: #8EDAFC;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
}


div.my_address{
    background-color: green;
    width: 100%;
    height: 20px;
}

div.my_utent-chat{
    width: 60%;
    background-color: red;
    height: 100%;
}

nav.my_profile-img{
    max-width: 90px;
    max-height: 90px;
    display: flex;
}

ul.my_icons{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
}

li i{
    padding: 0 0.40rem;
    font-size: 1.3rem;
    color: #B1B1B1;
}

img{
    width: 100%;
    border-radius: 50%;
    padding: 0.15rem 0;
}

p.my_name{
    padding-top: 1.2rem;
    font-size: 1.1rem;
}

span i{
    background-color: white;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 50%;
    color: #8EDAFC;
    padding-top: 0.7rem;
}

div.my_underscore{
    display: flex;
    flex-direction: column;
    padding-left: 0.7rem;
}

span.notification{
    font-size: 1.2rem;
}

span.my_underscore{
    text-decoration: underline;
}
