*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main{background-image:linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100% );
    height: 100vh;}


div.container{
    max-width: 1480px;
    margin: 0 auto;
    display: flex;
    padding-top: 1rem;
}

div.my_utent-elenc{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

div.my_profile{
    width: 100%;
    padding: 0.25rem;
    display: flex;
    justify-content: space-between;
    background-color: #EAEAEA;
}

div.my_notification{
    background-color: #8EDAFC;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
}


div.my_nav-bar{
    background-color: #FAFAFA;
    width: 100%;
    height: 45px;
}

div.my_utent-chat{
    width: 60%;
    background-image: url(../img/mine.jpg);
    height: 100%;
}

div.my_chat{
    height: 880px;
    overflow-y: auto;
}

nav.my_profile-img{
    max-width: 90px;
    max-height: 90px;
    display: flex;
}

ul.my_icons{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    padding-right: 0.5rem;
}

li i{
    padding: 0 0.40rem;
    font-size: 1.3rem;
    color: #B1B1B1;
}

img{
    width: 100%;
    border-radius: 50%;
    padding: 0.15rem 0;
}

p.my_name{
    padding-top: 1.2rem;
    font-size: 1.1rem;
}

span.my_bell i{
    background-color: white;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 50%;
    color: #8EDAFC;
    padding-top: 0.7rem;
}

div.my_underscore{
    display: flex;
    flex-direction: column;
    padding-left: 0.7rem;
}

span.notification{
    font-size: 1.2rem;
}

span.my_underscore{
    text-decoration: underline;
    color: #537b8e;
}

nav.bar{
    display: flex;
}

div.search-icon{
    padding: 0.5rem;
    display: flex;
}

div.my_nav-bar{
    display: flex;
    padding: .5rem .5rem;
}

div.my_nav-bar i{
    background-color: white;
    color: #B5B8BA;
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px #F6F6F6 solid;
}

input.text{
    background-color: white;
    color: grey;
    width: 504px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: START;
    border: 1px #F6F6F6 solid;
    padding-left: 0.4rem;

}

div.my_headbar-chat{
    width: 100%;
    background-color: #EAEAEA;
    height: 66px;
    padding: 0.4rem;
    display: flex;
    justify-content: space-between;
}

nav.user{
    display: flex;
    align-items: center;
}

nav.user img{
    width: 50px;
}

div.user-name{
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
}

span.last-access{
    color: grey;
    font-size: 0.9rem;
}

div.invisible-container{
    max-width: 650px;
    margin: 0 auto;
}

div.pills-green{
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: end;
}

div.pills-white{
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: start;
}

div.chat-green{
    width: 280px;
    height: 60px;
    background-color: #D5F9BA;
    border-radius: 0.5rem;
    margin-top: 5rem;
}

div.chat-white{
    width: 280px;
    height: 60px;
    background-color: white;
    border-radius: 0.5rem;
    margin-top: 2rem;
}

div.chat-second-green{
    width: 280px;
    height: 60px;
    background-color: #D5F9BA;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

p.my_chat-text{
    padding: 0.75rem;
}

div.my_chat{
    overflow-y: auto;
}

p.hour{
    font-size: 0.6rem;
    color: grey;
    text-align: end;
    padding-right: 0.5rem;
}

div.my_footer-chat{
    height: 50px;
    width: 100%;
    background-color: #f3eeea;
}

div.my_footer-chat{
    display: flex;
    justify-content: space-between;
}

div.my_simbol{
    color: grey;
    width: 50px;
    text-align: center;
    padding: 0.5rem;
    
}

div.my_simbol i{
    font-size: 1.7rem;
    
}

div.my_chat-bar{
    padding: 0.5rem;
}

div.my_chat-bar input{
    background-color: white;
    width: 720px;
    height: 35px;
    border-radius: 0.5rem;
    color: grey;
    padding: 0.5rem;
}

div.card{
    display: flex;
    background-color: white;
    width: 100%;
    padding: 0.7rem;
    height: 90px;
    
}

div.card img{
    width: 70px;
    height: 70px;
}

div.my_info{
    display: flex;
    flex-direction: column;
    padding-left: 0.7rem;
    padding-top: 1rem;
}

p.my_hour{
    text-align: end;
    padding-left: 16rem;
    padding-top: 1rem;
}

div.my_address{
    overflow-y: auto;
}